<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h3 class="jumbotron">In the App Component</h3>
      <hr>
      <!-- ways to use components: -->
      <!-- <app-servers></app-servers> -->
      <!-- another way to use components
        this way requires you set the selector to an attribute:
        e.g. selector: 'app-servers',
        NOTE: THere are more, hover over selectors in component to see
      -->
      <app-servers></app-servers>
      <app-success-alert></app-success-alert>
      <app-warning-alert></app-warning-alert>
      <br>
      <app-assignment-two></app-assignment-two>
      <app-assignment-three></app-assignment-three>
    </div>
  </div>

  <div class="row text-center">
    <div class="col-xs-12">
      <h3 class="jumbotron">Assignment Four</h3>
      <app-game (emitNumber)="handleEmitNumber($event)">
        <app-even></app-even>
        <app-odd></app-odd>
      </app-game>
    </div>
  </div>
</div>
