<div class="row">
  <div class="col-xs-12">
    <form (ngSubmit)="onFormSubmit()" [formGroup]="form" #f="ngForm">
      <div class="row">
        <div class="col-sm-4 form-group">
          <label for="name">Name</label>
          <input 
            type="text"
            name="name" 
            id="name" 
            class="form-control"
            formControlName="name"
            (ngModelChange)="onNameInputChange($event)"
            #nameField
          >
          <app-error-message
            [form]="form"
            controlName="name"
            [nameToDisplay]="nameField"
          ></app-error-message>
        </div>
        <div class="col-sm-2 form-group">
          <label for="amount">Amount</label>
          <input 
            type="number"
            name="amount" 
            id="amount" 
            class="form-control"
            formControlName="amount"
            min=1
            #amountField
          >
          <app-error-message
            [form]="form"
            controlName="amount"
          ></app-error-message>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-2">
          <button 
            class="btn btn-success form-control" 
            type="submit"
            [disabled]="!form.valid"
          >
            {{ clickedIngredient && clickedIngredient.name ? 'Update' : 'Add' }}
          </button>
        </div>
        <div class="col-xs-2 col-xs-offset-2">
          <button 
            class="btn btn-warning form-control" 
            type="button"
            (click)="onClickClearClick($event)"
          >
            Clear
          </button>
        </div>
      </div>
    </form>
  </div>
</div>