<div class="row">
  <div class="col-xs-12">
    <hr />
    <form (ngSubmit)="onFormSubmit()" [formGroup]="form">
      <div class="row">
        <div class="col-xs-12">
          <button 
            class="btn btn-success"
            [disabled]="!form.valid"
          >Save</button>
          <button class="btn btn-danger">Cancel</button>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6">
          <div class="form-group">
            <label for="" style="display: block">
              Name
              <input
                class="form-control"
                type="text" 
                formControlName="name" 
              />
            </label>
          </div>
        </div>
        <div class="col-xs-6">
          <div class="form-group">
            <label for="" style="display: block">
              Image Url
              <input
                class="form-control"
                type="text"
                formControlName="imagePath"
              />
            </label>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6">
          <div class="form-group">
            <label for="" style="display: block">
              Description
              <textarea
                style="resize: vertical; min-height: 130px;"
                class="form-control"
                type="text"
                formControlName="description"
                rows="6"
              ></textarea>
            </label>
          </div>
        </div>
        <div class="col-xs-6">
          <img
            style="max-height: 150px; margin: 0 auto;"
            src="{{ form.controls.imagePath.value }}"
            alt="Url Image"
            class="img-responsive"
          />
        </div>
      </div>
      <div class="row">
        <div class="col-xs-10">
            <label for="">
              Ingredients
            </label>            
            <button 
            type="button"
            style="margin-left: 5px;"
            class="btn btn-primary"
            (click)="onAddIngredient()"
          >+</button>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12" formArrayName="ingredients">
          <div 
            style="margin-top: 5px;"
            class="row" 
            *ngFor="let ingredientControl of ingredientControls; let i = index"
            [formGroupName]="i">
            <div class="col-xs-8">
              <input 
                type="text" 
                class="form-control"
                formControlName="name"
              />
            </div>
            <div class="col-xs-2">
              <input 
                type="number" 
                min="1"
                class="form-control" 
                formControlName="amount"
              />
            </div>
            <div class="col-xs-2">
              <button 
                type="button"
                class="btn btn-danger form-control"
                (click)="onDeleteIngredient(i)"
              >X</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
