<div class="row">
  <div class="col-xs-10">
    <app-shopping-list-edit></app-shopping-list-edit>
  </div>
</div>
<div 
  style="height: 75vh; overflow: auto;"
  class="row"
  id="ingredients"
  #ingredientList
>
  <hr>
  <div 
    class="list-group"
    *ngFor="let ingredient of ingredients"
   
  >
    <div class="col-xs-12">
      <a 
        class="list-group-item" 
        style='cursor:pointer; display: flex; justify-content: space-between; align-items: center;'        
        (click)="clickIngredient($event, ingredientList, ingredient)"
      >
        {{ ingredient.name }} ({{ ingredient.amount }})
        <div class="">
          <button 
            class="btn btn-danger" 
            type="button"
            (click)="onDeleteItemClick(ingredient)"
          >Delete Item</button>
        </div>
      </a>
    </div>
  </div>
</div>