<div class="row">
  <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
    <h3 class="jumbotron text-center">Reactive Form Example</h3>
    <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
      <div formGroupName="userData">
        <div class="form-group">
          <label for="username3">Username</label>
          <input
            type="text"
            id="username3"
            class="form-control"
            [formControlName]="'username'"
            #usernameField
          >
          <div
            *ngIf="signUpForm.get('userData.username').touched"
          >
            <span
              *ngFor="let errorKey of usernameErrorKeys"
            >
              <span
                *ngIf="errorKey?.toLowerCase().trim() === 'invalidname'"
              >
                {{ usernameField.value }}
              </span>
              {{ errorMessages[errorKey] }}
            </span>
          </div>
        </div>
        <div class="form-group">
          <label for="email">email</label>
          <input
            type="text"
            id="email3"
            class="form-control"
            formControlName="email"
          >
          <span 
            class="help-block"
            *ngIf="!signUpForm.get('userData.email').valid && signUpForm.get('userData.email').touched"
          >
            Enter a valid Email!
          </span>
        </div>
      </div>
      <div class="radio" *ngFor="let gender of genders">
        <label>
          <input
            type="radio"
            [value]="gender"
            formControlName="gender"
          >
          {{ gender }}
        </label>
      </div>
      <div
        formArrayName="hobbies"
      >
        <h4>Your Hobbies</h4>
        <button class="btn btn-default form-control" type="button" (click)="onAddHobby()">Add Hobby</button>
        <div class="row">
          <div 
            *ngFor="let hobby of controls; let i = index"
            class="form-group col-xs-6"
          >
            <label style='display: block;'>
              {{ i + 1 }}{{ i === 0 ? 'st' : i === 1 ? 'nd' : i === 2 ? 'rd' : 'th' }} Hobby:
              <input  
                class="form-control" 
                type="text" 
                [formControlName]=i
              >
              <span *ngIf="!hobby.valid && hobby.touched">Enter a Hobby!</span>
            </label>
            <button class="btn btn-warning form-control" (click)="onRemoveHobby(i)" type="button">Remove</button>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <p
            class="help-block "
            *ngIf="!signUpForm.valid && signUpForm.touched"
          >
            Missing a field!
          </p>
          <button class="btn btn-primary form-control" type="submit">Submit</button>
        </div>
      </div>
    </form>
   
  </div>
</div>
